<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>Email Signature</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <table
      cellspacing="0"
      cellpadding="0"
      border="0"
      style="
        font-family: Arial, sans-serif;
        width: 420px;
        background: transparent !important;
      "
      class="ng-scope"
    >
      <tbody>
        <tr>
          <td style="width: 240px">
            <span
              style="
                font-family: Arial, sans-serif;
                font-size: 12pt;
                color: #023c4f;
                line-height: 13pt;
              "
              ><strong class="ng-binding">John Doe</strong></span
            >
            <!-- ngIf: showField('title') --><span
              ng-if="showField('title')"
              style="
                font-family: Arial, sans-serif;
                font-size: 9pt;
                line-height: 11pt;
                color: #717171;
              "
              class="ng-binding ng-scope"
              ><br />Sales &amp; Marketing Director</span
            ><!-- end ngIf: showField('title') -->
          </td>
          <td
            style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 180px; COLOR: #717171;padding-top 4px; vertical-align: top; text-align: right;"
          >
            <table style="float: right; background: transparent !important">
              <tbody>
                <tr>
                  <!-- ngIf: showField('facebookURL') -->
                  <td
                    style="width: 30px; text-align: right"
                    ng-if="showField('facebookURL')"
                    class="ng-scope"
                  >
                    <a
                      href="https://www.facebook.com/MyCompany"
                      target="_blank"
                      rel="noopener"
                      ><img
                        border="0"
                        ng-src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/fb.png"
                        alt="facebook icon"
                        width="26"
                        height="26"
                        style="border: 0; width: 26px; height: 26px"
                        src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/fb.png"
                    /></a>
                  </td>
                  <!-- end ngIf: showField('facebookURL') -->
                  <!-- ngIf: showField('twitterURL') -->
                  <td
                    style="width: 30px; text-align: right"
                    ng-if="showField('twitterURL')"
                    class="ng-scope"
                  >
                    <a
                      href="https://twitter.com/MyCompany404"
                      target="_blank"
                      rel="noopener"
                      ><img
                        border="0"
                        ng-src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/tt.png"
                        alt="twitter icon"
                        width="26"
                        height="26"
                        style="border: 0; width: 26px; height: 26px"
                        src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/tt.png"
                    /></a>
                  </td>
                  <!-- end ngIf: showField('twitterURL') -->
                  <!-- ngIf: showField('youtubeURL') -->
                  <td
                    style="width: 30px; text-align: right"
                    ng-if="showField('youtubeURL')"
                    class="ng-scope"
                  >
                    <a
                      href="https://www.youtube.com/user/MyCompanyChannel"
                      target="_blank"
                      rel="noopener"
                      ><img
                        border="0"
                        ng-src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/yt.png"
                        alt="youtube icon"
                        width="26"
                        height="26"
                        style="border: 0; width: 26px; height: 26px"
                        src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/yt.png"
                    /></a>
                  </td>
                  <!-- end ngIf: showField('youtubeURL') -->
                  <!-- ngIf: showField('linkedinURL') -->
                  <td
                    style="width: 30px; text-align: right"
                    ng-if="showField('linkedinURL')"
                    class="ng-scope"
                  >
                    <a
                      href="https://www.linkedin.com/company/mycompany404"
                      target="_blank"
                      rel="noopener"
                      ><img
                        border="0"
                        ng-src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/ln.png"
                        alt="linkedin icon"
                        width="26"
                        height="26"
                        style="border: 0; width: 26px; height: 26px"
                        src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/ln.png"
                    /></a>
                  </td>
                  <!-- end ngIf: showField('linkedinURL') -->
                  <!-- ngIf: showField('instagramURL') -->
                  <td
                    style="width: 30px; text-align: right"
                    ng-if="showField('instagramURL')"
                    class="ng-scope"
                  >
                    <a
                      href="https://www.instagram.com/mycompany404/"
                      target="_blank"
                      rel="noopener"
                      ><img
                        border="0"
                        ng-src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/it.png"
                        alt="instagram icon"
                        width="26"
                        height="26"
                        style="border: 0; width: 26px; height: 26px"
                        src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/it.png"
                    /></a>
                  </td>
                  <!-- end ngIf: showField('instagramURL') -->
                  <!-- ngIf: showField('pinterestURL') -->
                  <td
                    style="width: 30px; text-align: right"
                    ng-if="showField('pinterestURL')"
                    class="ng-scope"
                  >
                    <a
                      href="https://pinterest.com/mycompany404/"
                      target="_blank"
                      rel="noopener"
                      ><img
                        border="0"
                        ng-src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/pt.png"
                        alt="pinterest icon"
                        width="26"
                        height="26"
                        style="border: 0; width: 26px; height: 26px"
                        src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/pt.png"
                    /></a>
                  </td>
                  <!-- end ngIf: showField('pinterestURL') -->
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="padding-top: 25px; font-size: 9pt; line-height: 14pt"
          >
            <!-- ngIf: showField('email') --><span
              ng-if="showField('email')"
              style="font-size: 9pt; color: #262626"
              class="ng-scope"
              ><strong>Email:</strong>
              <a
                href="mailto:john.doe@my-company.com"
                style="text-decoration: none; color: #262626"
                ><span
                  style="text-decoration: none; color: #262626"
                  class="ng-binding"
                  >john.doe@my-company.com</span
                ></a
              ><br /></span
            ><!-- end ngIf: showField('email') -->

            <!-- ngIf: isAnyFieldEntered('mobile, phone') --><span
              ng-if="isAnyFieldEntered('mobile, phone')"
              style="font-size: 9pt"
              class="ng-scope"
            >
              <!-- ngIf: showField('mobile') --><span
                ng-if="showField('mobile')"
                style="font-size: 9pt; color: #262626"
                class="ng-binding ng-scope"
                ><strong>Mobile:</strong> (800) 555-0299<!-- ngIf: showField('phone') --><span
                  ng-if="showField('phone')"
                  class="ng-scope"
                >
                  | </span
                ><!-- end ngIf: showField('phone') --></span
              ><!-- end ngIf: showField('mobile') -->
              <!-- ngIf: showField('phone') --><span
                ng-if="showField('phone')"
                style="font-size: 9pt; color: #262626"
                class="ng-binding ng-scope"
                ><strong>Phone:</strong> (800) 555-0199</span
              ><!-- end ngIf: showField('phone') -->
              <br /> </span
            ><!-- end ngIf: isAnyFieldEntered('mobile, phone') -->

            <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><span
              ng-if="isAnyFieldEntered('company, address1, address2')"
              style="font-size: 9pt"
              class="ng-scope"
            >
              <strong>Address:</strong>
              <!-- ngIf: showField('company') --><span
                ng-if="showField('company')"
                style="color: #262626"
                class="ng-binding ng-scope"
                >My Company<!-- ngIf: isAnyFieldEntered('address1, address2') --><span
                  ng-if="isAnyFieldEntered('address1, address2')"
                  class="ng-scope"
                  >, </span
                ><!-- end ngIf: isAnyFieldEntered('address1, address2') --></span
              ><!-- end ngIf: showField('company') -->
              <!-- ngIf: showField('address1') --><span
                ng-if="showField('address1')"
                class="ng-binding ng-scope"
                >Street, City<!-- ngIf: showField('address2') --><span
                  ng-if="showField('address2')"
                  class="ng-scope"
                  >, </span
                ><!-- end ngIf: showField('address2') --></span
              ><!-- end ngIf: showField('address1') -->
              <!-- ngIf: showField('address2') --><span
                ng-if="showField('address2')"
                class="ng-binding ng-scope"
                >Zip Code, Country</span
              ><!-- end ngIf: showField('address2') -->
              <br /> </span
            ><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->

            <!-- ngIf: showField('website') --><span
              ng-if="showField('website')"
              class="ng-scope"
            >
              <br />
              <a
                href="http://www.my-company.com"
                target="_blank"
                rel="noopener"
                style="text-decoration: none"
                ><strong
                  style="
                    color: #023c4f;
                    font-family: Arial, sans-serif;
                    font-size: 9pt;
                  "
                  class="ng-binding"
                  >www.my-company.com</strong
                ></a
              > </span
            ><!-- end ngIf: showField('website') -->
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding-top: 25px; max-width: 420px">
            <!-- ngIf: showField('banner') --><span
              ng-if="showField('banner')"
              class="ng-scope"
            >
              <!-- ngIf: showField('bannerURL') --><a
                ng-if="showField('bannerURL')"
                href="https://www.codetwo.com/email-signatures/"
                target="_blank"
                rel="noopener"
                class="ng-scope"
                ><img
                  border="0"
                  ng-src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/banner.png"
                  alt="Banner"
                  width="420"
                  style="max-width: 420px; height: auto; border: 0"
                  src="https://www.mail-signatures.com/signature-generator/img/templates/on-the-wave/banner.png" /></a
              ><!-- end ngIf: showField('bannerURL') -->
              <!-- ngIf: !showField('bannerURL') --> </span
            ><!-- end ngIf: showField('banner') -->
          </td>
        </tr>

        <tr>
          <!-- ngIf: showField('disclaimer') -->
          <td
            colspan="2"
            ng-if="showField('disclaimer')"
            style="
              padding-top: 25px;
              font-size: 8pt;
              color: #023c4f;
              line-height: 11px;
              max-width: 420px;
              text-align: justify;
            "
            class="ng-binding ng-scope"
          >
            The content of this email is confidential and intended for the
            recipient specified in message only. It is strictly forbidden to
            share any part of this message with any third party, without a
            written consent of the sender. If you received this message by
            mistake, please reply to this message and follow with its deletion,
            so that we can ensure such a mistake does not occur in the future.
          </td>
          <!-- end ngIf: showField('disclaimer') -->
        </tr>
      </tbody>
    </table>
  </body>
</html>
